services:
  openobserve:
    image: o2cr.ai/openobserve/openobserve-enterprise:latest
    ports:
      - "5080:5080"
    environment:
      ZO_ROOT_USER_EMAIL: "root@example.com"
      ZO_ROOT_USER_PASSWORD: "Complexpass#123"
